{% extends "layouts/page.njk" %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "DEFRA Id"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <form action="{{ action }}" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>

          {% call govukFieldset() %}

            {{ govukInput({
              label: {
                text: "User ID",
                classes: "govuk-label--m"
              },
              id: "userid",
              name: "userid",
              hint: {
                text: "(B2C object ID), randomly generated"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.userid.message
              } if formErrors.userid.message
            }) }}

            {{ govukInput({
              label: {
                text: "Contact ID",
                classes: "govuk-label--m"
              },
              id: "contactid",
              name: "contactid",
              hint: {
                text: "Randomly generated"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.contactid.message
              } if formErrors.contactid.message
            }) }}


            {{ govukInput({
              label: {
                text: "Email address",
                classes: "govuk-label--m"
              },
              id: "email",
              name: "email",
              inputmode: "email",
              hint: {
                text: "What is your email address?"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.email.message
              } if formErrors.email.message
            }) }}


            {{ govukInput({
              label: {
                text: "First name",
                classes: "govuk-label--m"
              },
              id: "firstname",
              name: "firstname",
              hint: {
                text: "What is your first name?"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.firstname.message
              } if formErrors.firstname.message
            }) }}


            {{ govukInput({
              label: {
                text: "Last name",
                classes: "govuk-label--m"
              },
              id: "lastname",
              name: "lastname",
              hint: {
                text: "What is your last name?"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.lastname.message
              } if formErrors.lastname.message
            }) }}


            {{ govukInput({
              label: {
                text: "Unique reference",
                classes: "govuk-label--m"
              },
              id: "uniqueref",
              name: "uniqueref",
              disabled: true,
              hint: {
                text: "Randomly generated"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.uniqueref.message
              } if formErrors.uniqueref.message
            }) }}

          {% endcall %}

          {% call govukFieldset() %}

            {{ govukRadios({
              id: "loa",
              name: "loa",
              classes: "govuk-radios--inline",
              hint: {
                text: "Level of assurance"
              },
              fieldset: {
                legend: {
                  text: "LoA (contact's level of assurance)",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "LOA0",
                  text: "LOA0"
                },
                {
                  value: "LOA1",
                  text: "LOA1",
                  checked: true
                },
                {
                  value: "LOA2",
                  text: "LOA2"
                }
              ],
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.loa.message
              } if formErrors.loa.message
            }) }}

          {% endcall %}

          {% call govukFieldset() %}

            {{ govukInput({
              label: {
                text: "Enrolments",
                classes: "govuk-label--m"
              },
              id: "enrolments",
              name: "enrolments",
              inputmode: "numeric",
              classes: "govuk-!-width-one-quarter",
              hint: {
                text: "Number of enrolments"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.enrolments.message
              } if formErrors.enrolments.message
            }) }}

          {% endcall %}

          {% call govukFieldset() %}

            {{ govukInput({
              label: {
                text: "Enrolment Requests",
                classes: "govuk-label--m"
              },
              id: "enrolmentrequests",
              name: "enrolmentrequests",
              inputmode: "numeric",
              classes: "govuk-!-width-one-quarter",
              hint: {
                text: "Number of enrolment requests"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.enrolmentrequests.message
              } if formErrors.enrolmentrequests.message
            }) }}

          {% endcall %}

          {% call govukFieldset() %}

            {{ govukInput({
              label: {
                text: "Currently Selected Relationship ID",
                classes: "govuk-label--m"
              },
              id: "selectedrelationshipid",
              name: "selectedrelationshipid",
              disabled: true,
              hint: {
                text: "Randomly generated"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.selectedrelationshipid.message
              } if formErrors.selectedrelationshipid.message
            }) }}

          {% endcall %}

          {% call govukFieldset({
            legend: {
               text: "User Relationships",
               classes: "govuk-fieldset__legend--m",
               isPageHeading: false
            }
            }) %}

            {{ govukInput({
               label: {
                  text: "Relationship ID"
               },
               id: "relationshipid",
               name: "relationshipid",
               autocomplete: "relationshipid",
               classes: "govuk-!-width-three-quarters",
              errorMessage: {
                text: formErrors.relationshipid.message
              } if formErrors.relationshipid.message
            }) }}

            {{ govukInput({
               label: {
                  text: "Organisation ID"
               },
               id: "organisationid",
               name: "organisationid",
               autocomplete: "organisationid",
               classes: "govuk-!-width-three-quarters"
            }) }}

            {{ govukInput({
               label: {
                  text: "Organisation Name"
               },
               id: "organisationname",
               name: "organisationname",
               autocomplete: "organisationname",
               classes: "govuk-!-width-three-quarters"
            }) }}

            {{ govukRadios({
              id: "relationshiprole",
              name: "relationshiprole",
              classes: "govuk-radios--inline",
              fieldset: {
                legend: {
                  text: "Relationship role",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "agent",
                  text: "Agent"
                },
                {
                  value: "employee",
                  text: "Employee"
                },
                {
                  value: "citizen",
                  text: "Citizen"
                }
              ],
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.relationshiprole.message
              } if formErrors.relationshiprole.message
            }) }}


            {{ govukButton({
               text: "Add role to relationship",
               classes: "govuk-button--secondary"
            }) }}

            {{ govukInput({
               label: {
                  text: "Role Name"
               },
               id: "rolename",
               name: "rolename",
               autocomplete: "rolename",
               classes: "govuk-!-width-one-half"
            }) }}


            {{ govukSelect({
               id: "rolestatus",
               name: "rolestatus",
               label: {
                  text: "Sole Status"
               },
               hint: {
                  text: "Role status"
               },
               items: [
                  {
                     value: "incomplete",
                     text: "Incomplete"
                  },
                  {
                     value: "pending",
                     text: "Pending"
                  },
                  {
                     value: "complete",
                     text: "Complete (approved)"
                  },
                  {
                     value: "rejected",
                     text: "Rejected"
                  },
                  {
                     value: "blocked",
                     text: "Blocked"
                  },
                  {
                     value: "removed",
                     text: "Removed"
                  },
                  {
                     value: "offboarded",
                     text: "Offboarded"
                  }
               ]
            }) }}

          {% endcall %}

          {{ govukButton({
            text: "Add another relationship",
            classes: "govuk-button--secondary"
          }) }}

          {% call govukFieldset() %}

          {{ govukButton({
            text: "Continue"
          }) }}

          {% endcall %}

        </form>

      </div>
    </div>
  </div>


{% endblock %}
