{% extends "layouts/page.njk" %}

{% block content %}
  {{ appHeading({
    title: heading,
    caption: "DEFRA ID Stub User Set Up"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <form action="{{ action }}" method="post">
          <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
          <input type="hidden" name="userid" value="{{ userId }}"/>

          {% call govukFieldset() %}

            {{ govukInput({
              label: {
                text: "Currently Selected Relationship ID",
                classes: "govuk-label--m"
              },
              id: "selectedrelationshipid",
              name: "selectedrelationshipid",
              value: selectedRelationshipId,
              hint: {
                text: "Randomly generated"
              },
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.selectedrelationshipid.message
              } if formErrors.selectedrelationshipid.message
            }) }}

          {% endcall %}

          {% call govukFieldset({
            legend: {
               text: "User Relationships",
               classes: "govuk-fieldset__legend--m",
               isPageHeading: false
            }
            }) %}

            {{ govukInput({
               label: {
                  text: "Relationship ID"
               },
               id: "relationshipid",
               name: "relationshipid",
               autocomplete: "relationshipid",
               classes: "govuk-!-width-three-quarters",
              errorMessage: {
                text: formErrors.relationshipid.message
              } if formErrors.relationshipid.message
            }) }}

            {{ govukInput({
               label: {
                  text: "Organisation ID"
               },
               id: "organisationid",
               name: "organisationid",
               autocomplete: "organisationid",
               classes: "govuk-!-width-three-quarters"
            }) }}

            {{ govukInput({
               label: {
                  text: "Organisation Name"
               },
               id: "organisationname",
               name: "organisationname",
               autocomplete: "organisationname",
               classes: "govuk-!-width-three-quarters"
            }) }}

            {{ govukRadios({
              id: "relationshiprole",
              name: "relationshiprole",
              classes: "govuk-radios--inline",
              fieldset: {
                legend: {
                  text: "Relationship role",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "agent",
                  text: "Agent"
                },
                {
                  value: "employee",
                  text: "Employee"
                },
                {
                  value: "citizen",
                  text: "Citizen"
                }
              ],
              attributes: {
                "data-1p-ignore": ""
              },
              errorMessage: {
                text: formErrors.relationshiprole.message
              } if formErrors.relationshiprole.message
            }) }}


            {{ govukButton({
               text: "Add role to relationship",
               classes: "govuk-button--secondary"
            }) }}

            {{ govukInput({
               label: {
                  text: "Role Name"
               },
               id: "rolename",
               name: "rolename",
               autocomplete: "rolename",
               classes: "govuk-!-width-one-half"
            }) }}


            {{ govukSelect({
               id: "rolestatus",
               name: "rolestatus",
               label: {
                  text: "Sole Status"
               },
               hint: {
                  text: "Role status"
               },
               items: [
                  {
                     value: "incomplete",
                     text: "Incomplete"
                  },
                  {
                     value: "pending",
                     text: "Pending"
                  },
                  {
                     value: "complete",
                     text: "Complete (approved)"
                  },
                  {
                     value: "rejected",
                     text: "Rejected"
                  },
                  {
                     value: "blocked",
                     text: "Blocked"
                  },
                  {
                     value: "removed",
                     text: "Removed"
                  },
                  {
                     value: "offboarded",
                     text: "Offboarded"
                  }
               ]
            }) }}

          {% endcall %}

          {% call govukFieldset() %}

            {{ govukButton({
               text: "Add another relationship",
               classes: "govuk-button--secondary"
            }) }}


            {{ govukButton({
               text: "Continue"
            }) }}

          {% endcall %}

        </form>

      </div>
    </div>
  </div>


{% endblock %}
