{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "CDP DEFRA ID."
  }) }}

  {% call appPageBody() %}
    <p>
      Welcome to the Core Delivery Platform DEFRA ID Stub 🚀
    </p>
      <p>
        <a href="/cdp-defra-id-stub/register"> Register a temporary DEFRA ID.</a>
      </p>
      <p>
        <a href="/cdp-defra-id-stub/login">  Login with your temporary DEFRA ID.</a>
      </p>

  {% endcall %}

{% endblock %}
